{{define "pagination"}}
    {{if .NextPageToken}}
        <div class="pagination">
            <a href="?page_token={{.NextPageToken}}{{if .Query}}&q={{.Query}}{{end}}{{range .ActiveTags}}&tag={{.}}{{end}}">Next →</a>
        </div>
    {{end}}
{{end}}
