{{define "inbox"}}
    <div class="inbox">
        {{if .Chats}}
            {{range .Chats}}
                <a href="/chat/{{.ID}}" class="chat-preview">
                    <div class="chat-preview-header">
                        <span>{{if .Title}}{{.Title}} ({{.ID}}){{else}}Chat ID: {{.ID}}{{end}}</span>
                        <span>Last Updated: {{.FormattedTime}}</span>
                    </div>
                    {{if .Files}}
                        <div class="file-list" style="margin-top:-1rem; margin-bottom: 1rem;">
                            {{$length := len .Files}}
                            {{$max := 3}}
                            {{if gt $length $max}}
                                {{range (slice .Files 0 $max)}}
                                    <div class="file-item">
                                        <span class="file-name">{{.}}</span>
                                    </div>
                                {{end}}
                            {{else}}
                                {{range .Files}}
                                    <div class="file-item">
                                        <span class="file-name">{{.}}</span>
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                    {{end}}
                    <div class="chat-preview-content">
                        {{if .Messages}}
                            {{$userCount := 0}}
                            {{range .Messages}}
                                {{if and (eq (.Role | toString) "user") (lt $userCount 3)}}
                                    • {{.Content | formatMessage}}
                                    {{$userCount = add $userCount 1}}
                                    {{if lt $userCount 3}}<br>{{end}}
                                {{end}}
                            {{end}}
                        {{else}}
                            <em>No messages</em>
                        {{end}}
                    </div>
                </a>
            {{end}}

            {{if gt .TotalPages 1}}
                {{template "pagination" .}}
            {{end}}
        {{else}}
            <div class="no-chats">
                <p>No chats found</p>
            </div>
        {{end}}
    </div>
{{end}}
