{{define "header"}}
    <div class="header">
        <div class="header-wrapper">
            <h1>{{.Title}}</h1>
            {{if .ShowBack}}
                <a href="/" class="back-button">&larr; Back to Inbox</a>
            {{end}}
        </div>
    </div>
{{end}}
