{{define "pagination"}}
    <div class="pagination">
        {{if gt .CurrentPage 1}}
            <a href="?page={{sub .CurrentPage 1}}">&laquo; Previous</a>
        {{end}}

        {{range $i := until .TotalPages}}
            <a href="?page={{add $i 1}}" {{if eq (add $i 1) $.CurrentPage}}class="active"{{end}}>{{add $i 1}}</a>
        {{end}}

        {{if lt .CurrentPage .TotalPages}}
            <a href="?page={{add .CurrentPage 1}}">Next &raquo;</a>
        {{end}}
    </div>
{{end}}
